@import (reference) '../../style/variables.less';

@c-m-tag-prefixClsTag: ~'@{cpn-prefix}-tag';
@c-m-tag-prefixClsTags: ~'@{cpn-prefix}-tags';

div.@{c-m-tag-prefixClsTag} {
  @prefixClsEllipsis: ~'@{cpn-prefix}-ellipsis';

  --tag-size-large: @size-6;
  --tag-size-medium: @size-5;
  --tag-size-small: @size-4;
  --tag-color-blue: 57, 115, 229;
  --tag-color-green: 44, 147, 97;
  --tag-color-pink: 214, 65, 127;
  --tag-color-darkblue: 84, 91, 241;
  --tag-color-aquamarine: 44, 134, 140;
  --tag-color-brown: 169, 111, 24;
  --tag-color-gray: 102, 110, 124;
  --tag-color-mark-font: 111, 114, 120;
  --tag-color-transparent: @color-transparent;
  --tag-color-white: @color-white;
  --tag-color-gold-text: rgb(115, 62, 15);
  --tag-color-linear-red: linear-gradient(to right, #ff9878 0%, #fa2967 100%), linear-gradient(to right bottom, #ff9878 7.61%, #ffeede 45.78%, #ffeede 49.75%, #fa2967 95.76%);
  --tag-color-linear-gold: linear-gradient(to right, #fef5c4 0%, #f0c573 100%), linear-gradient(to right bottom, #fef5c4 7.61%, #f4edcc 45.78%, #f4edcc 49.75%, #f0c573 95.76%);
  --tag-color-linear-orangered: linear-gradient(to right, #f39c55 0%, #ec5149 100%), linear-gradient(to right bottom, #f39c55 7.61%, #f5c6ab 45.78%, #f2c1a2 49.75%, #ec5149 95.76%);
  --tag-border-none: @border-none;
  --tag-border: @border-1 @border-solid;
  --tag-spacing-large: @spacing-4;
  --tag-spacing: @spacing-3;
  --tag-spacing-small: @spacing-2;
  --tag-arco-color-red: @red-6;
  --tag-arco-color-red-20-pct: fade(@red-6, 20%);
  --tag-arco-color-orangered: @orangered-6;
  --tag-arco-color-orangered-20-pct: fade(@orangered-6, 20%);
  --tag-arco-color-orange: @orange-6;
  --tag-arco-color-orange-20-pct: fade(@orange-6, 20%);
  --tag-arco-color-gold: @gold-6;
  --tag-arco-color-gold-20-pct: fade(@gold-6, 20%);
  --tag-arco-color-lime: @lime-6;
  --tag-arco-color-lime-20-pct: fade(@lime-6, 20%);
  --tag-arco-color-cyan: @cyan-6;
  --tag-arco-color-cyan-20-pct: fade(@cyan-6, 20%);
  --tag-arco-color-arcoblue: @arcoblue-6;
  --tag-arco-color-arcoblue-20-pct: fade(@arcoblue-6, 20%);
  --tag-arco-color-purple: @purple-6;
  --tag-arco-color-purple-20-pct: fade(@purple-6, 20%);
  --tag-arco-color-pinkpurple: @pinkpurple-6;
  --tag-arco-color-pinkpurple-20-pct: fade(@pinkpurple-6, 20%);
  --tag-arco-color-magenta: @magenta-6;
  --tag-arco-color-magenta-20-pct: fade(@magenta-6, 20%);

  padding: @spacing-none;

  .small-font(@height, @scale: calc(1/1.2), @fontSize: 12px) {
    height: calc(@height * 1 / @scale);
    line-height: calc(@height * 1 / @scale);
    font-size: @fontSize;
    transform: scale(@scale);
    transform-origin: 0% 50%;
  }

  .@{prefixClsEllipsis}-content {
    padding: @spacing-none var(--tag-spacing);
  }

  .@{prefix}-tag-icon {
    margin-right: @spacing-none;
    margin-left: var(--tag-spacing);
  }

  &.@{prefix}-tag {
    padding-right: var(--tag-spacing);

    .@{prefixClsEllipsis}-content {
      padding-right: @spacing-none;
    }

    &.@{c-m-tag-prefixClsTag}-shape-mark {
      padding-right: var(--tag-spacing-small);
      .@{prefixClsEllipsis}-content {
        padding-left: var(--tag-spacing-small);
      }
    }
  }

  &-prefix {
    display: flex;
    box-sizing: border-box;

    .@{prefix}-tag {
      padding-right: var(--tag-spacing-large);
      .@{prefixClsEllipsis}-content {
        padding-left: var(--tag-spacing-large);
      }

      &:first-child {
        border-top-right-radius: @border-radius-none;
        border-bottom-right-radius: @border-radius-none;
      }

      &:last-child {
        border-top-left-radius: @border-radius-none;
        border-bottom-left-radius: @border-radius-none;
      }
    }

    .@{c-m-tag-prefixClsTag}-medium {
      .@{prefixClsEllipsis}-content {
        font-size: @font-size-body-1;
      }
    }
  }

  &-prefix-string {
    & > div:first-child,
    & > div:last-child {
      border: @border-1 @border-solid @color-border-3;
    }

    & > div.@{c-m-tag-prefixClsTag}-prefix-default:first-child {
      background: @color-bg-4;
    }

    &.@{c-m-tag-prefixClsTag}-prefix-small {
      .small-font(var(--tag-size-medium));
      .@{c-m-tag-prefixClsTag}-small {
        .small-font(var(--tag-size-medium), 1, 12px);
      }
    }
  }

  &-type-bordered {
    border: @border-1 @border-solid rgba(var(--tag-color-gray), 0.2);
    background: @color-bg-5;
  }

  &-type-outline {
    border: @border-1 @border-solid rgba(var(--tag-color-gray), 0.2);
    background: none;
  }

  &-type-text,
  &-type-text-dot {
    background: none;
  }

  &-type-text-dot::before {
    content: '\25AA';
  }

  &-large {
    height: var(--tag-size-large);
    line-height: var(--tag-size-large);
    font-size: @font-size-body-2;
    .@{c-m-tag-prefixClsTag}-content {
      font-size: @font-size-body-2;
    }

    .@{prefix}-tag-icon {
      height: @font-size-body-2;
      line-height: @font-size-body-2;

      & > svg {
        font-size: @font-size-body-2;
      }
    }
  }

  &-medium {
    height: var(--tag-size-medium);
    line-height: var(--tag-size-medium);
  }

  &-small {
    .small-font(var(--tag-size-small));
  }

  &-small,
  &-medium {
    font-size: @font-size-body-1;
    .@{prefixClsEllipsis}-content {
      font-size: @font-size-body-1;
    }

    .@{prefix}-tag-icon {
      height: @font-size-body-1;
      line-height: @font-size-body-1;

      & > svg {
        font-size: @font-size-body-1;
      }

      & + .@{prefix}-tag-content {
        .@{prefixClsEllipsis}-content {
          padding-left: var(--tag-spacing-small);
        }
      }
    }
  }

  &-shape-default {
    border-radius: @border-radius-medium;
    &.@{c-m-tag-prefixClsTag}-type-outline.@{c-m-tag-prefixClsTag}-small {
      .small-font(18px);
    }
  }

  &-shape-round {
    &.@{c-m-tag-prefixClsTag}-large {
      border-radius: var(--tag-size-large);
    }
    &.@{c-m-tag-prefixClsTag}-medium {
      height: 18px;
      line-height: 18px;
      border-radius: var(--tag-size-medium);
    }
    &.@{c-m-tag-prefixClsTag}-small {
      border-radius: var(--tag-size-small);
    }
  }

  &-shape-mark {
    border-radius: @border-radius-large @border-radius-medium @border-radius-large @border-radius-none;
    .small-font(var(--tag-size-small));
    &.@{c-m-tag-prefixClsTag}-default-mark {
      border: @border-1 @border-solid @color-transparent;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      background-image: linear-gradient(90deg, #e8eaea -5%, #c2c8c8 100%), linear-gradient(230.92deg, #f7f9f9 1.24%, rgba(236, 237, 237, 0) 51.48%, #f7f9f9 103.87%);
      color: rgb(var(--tag-color-mark-font));
    }
    &.@{c-m-tag-prefixClsTag}-large {
      .small-font(18px);
    }
  }
}

.@{c-m-tag-prefixClsTags} {
  &-copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: @spacing-6;
    box-shadow: inset 0 1px 0 rgb(229, 232, 239);

    .@{c-m-tag-prefixClsTags}-copy-button {
      height: 22px;
      line-height: 22px;
    }
  }
}
