.c-m-detail-page {
  height: 100%;
}
.c-m-detail-page-content-loading {
  width: 100%;
  height: 300px;
}
.c-m-detail-page-loading {
  height: 100%;
  width: 100%;
}
.c-m-detail-page-loading .arco-spin-children {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.c-m-detail-page-loading .arco-spin-children .c-m-detail-content-wrapper {
  width: 100%;
  flex: 1;
  flex-direction: column;
}
.c-m-detail-page-loading .arco-spin-children .c-m-detail-content-wrapper .arco-spin-children:last-child {
  flex: 1;
}
.c-m-detail-page-loading .arco-spin-children .c-m-detail-content-wrapper .c-m-info-section-wrapper {
  margin-left: 0;
  margin-top: 0;
}
.c-m-detail-page-notice {
  margin-bottom: 20px;
}
.c-m-detail-page-notice .arco-alert {
  display: flex;
  align-items: flex-start;
}
.c-m-detail-page-load-error {
  width: 100%;
  height: 100%;
}
.c-m-detail-page .c-m-loading-inline .c-m-spin {
  position: relative;
  top: 2px;
}
.c-m-detail-page-loading-result-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.c-m-detail-page-left-right-layout {
  display: flex;
  flex-direction: row;
}
.c-m-detail-page-header-no-tab-pane .c-m-detail-header-tabs {
  height: 1px;
  box-shadow: inset 0 -1px 0 var(--color-border-2);
  /* 原值为:#ffffff，已被stylelint autofix，替换后为：@color-menu-light-bg， 推荐大家使用@arco-design/theme-ve-o-design/variables.less里的变量，可选替换项为: @color-menu-light-bg | @color-bg-white | @color-white | @color-bg-1 | @radio-button-color-bg_active | @color-fill-5 | @dark-color-fill-5 */
  background-color: #ffffff;
}
.c-m-detail-page-header-no-tab-pane .c-m-detail-header-tabs .arco-tabs {
  display: none;
}
