@import (reference) '../../style/variables.less';
@c-m-detail-page-prefix: ~'@{cpn-prefix}-detail-page';
// 💥 变量声明尽量带上c-m前缀，避免存量项目接入时变量名冲突
.@{c-m-detail-page-prefix} {
  height: 100%;

  &-content-loading {
    width: 100%;
    // 默认为 loading 的内容区加一个高度，避免 loading 过于靠页面顶部
    height: 300px;
  }

  &-loading {
    height: 100%;
    width: 100%;

    .@{prefix}-spin-children {
      height: 100%;
      display: flex;
      flex-direction: column;

      .c-m-detail-content-wrapper {
        width: 100%;
        flex: 1;
        flex-direction: column;

        .@{prefix}-spin-children {
          &:last-child {
            flex: 1;
          }
        }

        .c-m-info-section-wrapper {
          margin-left: 0;
          margin-top: 0;
        }
      }
    }
  }

  &-notice {
    .@{prefix}-alert {
      display: flex;
      align-items: flex-start;
    }

    margin-bottom: 20px;
  }

  &-load-error {
    width: 100%;
    height: 100%;
  }

  .c-m-loading-inline {
    .c-m-spin {
      position: relative;
      top: 2px;
    }
  }

  &-loading-result-container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-left-right-layout {
    display: flex;
    flex-direction: row;
  }

  &-header-no-tab-pane {
    .c-m-detail-header-tabs {
      height: 1px;
      .@{prefix}-tabs {
        display: none;
      }

      box-shadow: inset 0 -1px 0 var(~'@{arco-cssvars-prefix}-color-border-2');

      /* 原值为:#ffffff，已被stylelint autofix，替换后为：@color-menu-light-bg， 推荐大家使用@arco-design/theme-ve-o-design/variables.less里的变量，可选替换项为: @color-menu-light-bg | @color-bg-white | @color-white | @color-bg-1 | @radio-button-color-bg_active | @color-fill-5 | @dark-color-fill-5 */
      background-color: @color-menu-light-bg;
    }
  }
}
