@import (reference) '../../../../style/variables.less';

@c-m-form-prefix: ~'@{cpn-prefix}-form';
@c-m-form-array-items-prefix-cls: ~'@{prefix}-formily-array-items';

.@{c-m-form-prefix} {
  display: block;
  height: 100%;
}

.@{c-m-form-array-items-prefix-cls} {
  &-sortable {
    .@{c-m-form-array-items-prefix-cls}-item {
      .@{prefix}-formily-item {
        margin-bottom: 0;
      }
    }
  }
}

.@{c-m-form-prefix}-array-table {
  .@{prefix}-table-empty-row {
    display: none;
  }
}
