/** 在这里定义统一物料库自己的全局变量 */
.c-m-fee-type {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.003em;
}
.c-m-fee-type-type {
  color: #0c0d0e;
}
.c-m-fee-type-detail-wait,
.c-m-fee-type-detail-normal {
  color: #737a87;
}
.c-m-fee-type-detail-normal-pop-container > .arco-popover-content {
  padding: 8px 12px;
}
.c-m-fee-type-detail-normal-content {
  border-bottom: 1px #ff832b dashed;
  color: #ff832b;
}
.c-m-fee-type-detail-error {
  color: #d7312a;
}
.c-m-fee-type-detail-changing {
  color: #42464e;
  font-weight: 500;
}
.c-m-fee-type-detail-changing svg {
  font-size: 14px;
  margin-bottom: -3px;
  margin-right: 4px;
}
