@import (reference) '../../../style/variables.less';

@c-m-maskable-prefix: ~'@{cpn-prefix}-maskable';

.@{c-m-maskable-prefix} {
  &-children-renderer {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &-scroll {
      position: relative;
      > .@{prefix}-alert {
        padding-left: 23px;
        padding-right: 24px;
      }
    }

    &-shadow {
      transition: box-shadow 0.3s;
      position: absolute;
      inset: 0;
      pointer-events: none;
      z-index: 1;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        transition: box-shadow 0.1s cubic-bezier(0, 0, 1, 1);
        box-shadow: none;
        pointer-events: none;
        z-index: 1;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &-top::before {
        box-shadow: inset 0 6px 8px -6px rgba(0, 0, 0, 0.1);
      }

      &-bottom::after {
        box-shadow: inset 0 -6px 8px -6px rgba(0, 0, 0, 0.1);
      }
    }

    &-both-end {
      flex: none;
      .@{prefix}-alert {
        // icon 到容器存在1px左右的空隙
        padding-left: 23px;
        padding-right: 24px;
      }
    }
  }

  &-form {
    &-step {
      font-size: 14px;
      margin: 0 auto 16px;
      max-width: 780px;
      min-width: 220px;
      width: 60%;

      &-sticky {
        margin: 24px auto 0;
      }
    }

    &-header {
      min-height: 32px;

      > div {
        position: static;
        padding: 0;
        border: 0;
      }
    }

    &-footer {
      min-height: 32px;

      .@{cpn-prefix}-cform-footer-render-left {
        text-align: left;
      }
    }
  }
}
