@import (reference) '../../../style/variables.less';

// 分段选择器（CRadio和CCheckbox）的公共内容区组件 的样式

@c-m-btn-selector-content-prefix: ~'@{cpn-prefix}-btn-selector-content';

.@{c-m-btn-selector-content-prefix} {
  // 定制区域
  &-container {
    height: 100%;
    min-width: 0;

    // 双行文本样式
    .@{c-m-btn-selector-content-prefix}-doubleline {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;

      &-container {
        height: 100%;
        flex-shrink: 1;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
        justify-content: center;
        align-items: center;
      }

      &-icon {
        font-size: 32px;
        display: inline-flex;
        margin: 0 16px 0 0;
      }

      &-content {
        overflow: hidden;
        flex-shrink: 1;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 2px;

        &-label {
          text-align: start;
          font-size: 13px;
          line-height: 22px;
        }

        &-description {
          text-align: start;
          line-height: 20px;
          flex: 1;
          font-size: 12px;
          color: @color-text-3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    // 单行文本样式
    .@{c-m-btn-selector-content-prefix}-singleline {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 20px;

      &-container {
        height: 100%;
        display: flex;
        flex-shrink: 1;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-icon {
        display: inline-flex;
        font-size: 16px;
        margin-right: 8px;
      }

      &-content {
        overflow: hidden;
        flex-shrink: 1;
        flex-grow: 1;
      }
    }
  }
}

// icon 左右布局
.@{c-m-btn-selector-content-prefix} {
  &-iconLayout-right {

    // 双行文本样式
    .@{c-m-btn-selector-content-prefix}-doubleline {
      &-container {
        flex-direction: row-reverse;
      }

      &-icon {
        margin: 0 0 0 16px;
      }
    }

    // 单行文本样式
    .@{c-m-btn-selector-content-prefix}-singleline {
      &-container {
        flex-direction: row-reverse;
      }

      &-icon {
        margin: 0 0 0 16px;
      }
    }
  }
}

// 水平 拉伸布局
.@{c-m-btn-selector-content-prefix} {
  &-horizontalLayout-stretch {

    // 双行文本样式
    .@{c-m-btn-selector-content-prefix}-doubleline {
      &-container {
        width: 100%;
      }
    }

    // 单行文本样式
    .@{c-m-btn-selector-content-prefix}-singleline {
      &-container {
        width: 100%
      }
    }
  }
}

// Radio描述信息样式设置
.@{prefix}-radio {
  // disabled
  &-disabled {
    .@{prefix}-radio-button-inner {
      .@{c-m-btn-selector-content-prefix}-doubleline-container {
        .@{c-m-btn-selector-content-prefix}-doubleline-content {
          &-description {
            color: @color-text-4
          }
        }
      }
    }
  }
  // checked
  &-checked {
    .@{prefix}-radio-button-inner {
      .@{c-m-btn-selector-content-prefix}-doubleline-container {

        .@{c-m-btn-selector-content-prefix}-doubleline-content {
          &-description {
            font-weight: 400;
            color: @primary-5
          }
        }
      }
    }
  }
  // disabled & checked
  &-disabled.@{prefix}-radio-checked {
    .@{prefix}-radio-button-inner {
      .@{c-m-btn-selector-content-prefix}-doubleline-container {
        .@{c-m-btn-selector-content-prefix}-doubleline-content {
          &-description {
            color: @primary-3;
          }
        }
      }
    }
  }
}

// Checkbox描述信息样式设置
.@{prefix}-checkbox {
  // disabled
  &-disabled {
    .@{prefix}-checkbox-text {
      .@{c-m-btn-selector-content-prefix}-doubleline-container {
        .@{c-m-btn-selector-content-prefix}-doubleline-content {
          &-description {
            color: @color-text-4
          }
        }
      }
    }
  }
  // checked
  &-checked {
    .@{prefix}-checkbox-text {
      .@{c-m-btn-selector-content-prefix}-doubleline-container {

        .@{c-m-btn-selector-content-prefix}-doubleline-content {
          &-description {
            font-weight: 400;
            color: @primary-5
          }
        }
      }
    }
  }
  // disabled & checked
  &-disabled.@{prefix}-radio-checked {
    .@{prefix}-checkbox-text {
      .@{c-m-btn-selector-content-prefix}-doubleline-container {
        .@{c-m-btn-selector-content-prefix}-doubleline-content {
          &-description {
            color: @primary-3;
          }
        }
      }
    }
  }
}
