.c-m-list-editor-list {
  overflow: auto;
}
.c-m-list-editor-list-item {
  margin-bottom: 12px;
}
.c-m-list-editor-add-btn {
  height: 32px;
  line-height: 20px;
}
.c-m-list-editor-add-btn-text {
  color: #86909C;
  font-size: 12px;
}
.c-m-list-editor-delete-btn {
  height: 32px;
  display: flex;
  align-items: center;
}
.c-m-list-editor-component-inputTag > div > div input.arco-input-tag-input {
  flex-basis: fit-content;
}
