.c-m-brand-banner-container {
  width: 100%;
}
.c-m-brand-banner-inner {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.c-m-brand-banner-inner-content {
  flex: 1;
  overflow: hidden;
  margin-right: 540px;
  padding-top: 16px;
}
.c-m-brand-banner-inner-content-title {
  color: #0c0d0e;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
}
.c-m-brand-banner-inner-content-description {
  margin-top: 16px;
  font-size: 13px;
  line-height: 22px;
  color: #737a87;
}
.c-m-brand-banner-inner-content-operation {
  margin-top: 24px;
}
.c-m-brand-banner-inner-thumb {
  height: 220px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.c-m-brand-banner-inner-thumb img {
  height: 220px;
  width: 480px;
}
