@import (reference) '../../style/variables.less';

@c-m-brand-banner-prefix: ~'@{cpn-prefix}-brand-banner';
// 💥 变量声明尽量带上c-m前缀，避免存量项目接入时变量名冲突

.@{c-m-brand-banner-prefix} {
  &-container {
    width: 100%;
  }

  &-inner {
    display: flex;
    align-items: flex-start;
    position: relative;

    &-content {
      flex: 1;
      overflow: hidden;
      margin-right: 540px;
      padding-top: 16px;

      &-title {
        color: @color-text-1;
        font-weight: 500;
        font-size: 30px;
        line-height: 38px;
      }

      &-description {
        // max-width: 600px;
        margin-top: 16px;
        font-size: 13px;
        line-height: 22px;
        color: @color-text-3;
      }

      &-operation {
        margin-top: 24px;
      }
    }

    &-thumb {
      height: 220px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;

      img {
        height: 220px;
        width: 480px;
      }
    }
  }
}
