.c-m-copy {
  display: flex;
  align-items: center;
}
.c-m-copy-icon {
  display: flex;
}
.c-m-copy-icon-hover {
  visibility: hidden;
}
.c-m-copy:hover .c-m-copy-icon-hover {
  visibility: visible;
}
