@import (reference) '../../../../../style/variables.less';

@c-m-form-decorator-prefix: ~'@{cpn-prefix}-form-decorator';

// 整体骨架
.@{c-m-form-decorator-prefix} {
  width: 100%;
  height: 100%;
  background-color: @color-bg-white;
  overflow-x: auto;

  &-mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: @color-menu-light-bg;
  }

  &-scrollContainer {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    // 作为弹出框挂载的元素，需要设置position样式为relative
    position: relative;

    &-bottomLine {
      border-bottom: 1px solid @color-border-2;
    }
  }

  &-innerElement {
    background-color: white;
    z-index: @z-index-10;
    box-sizing: border-box;
  }
}

// 整体骨架（全页面）
.@{c-m-form-decorator-prefix}-fullpage {
  width: 100%;
  height: 100%;
  background-color: @color-bg-white;
  overflow-x: auto;

  .@{c-m-form-decorator-prefix}-mainContainer {
    min-width: 1260px;
  }

  .@{c-m-form-decorator-prefix}-innerElement {
    width: 1260px;
    margin: 0 auto;
  }
}

.@{c-m-form-decorator-prefix}-isSticky {
  position: sticky;
}

// 细节处理
.@{c-m-form-decorator-prefix} {
  // footer
  &-footer {
    width: 100%;
    background: @color-bg-white;
    padding: 12px 0;
    box-sizing: border-box;
    min-height: 64px;
  }

  // header区域
  &-header {
    min-height: 66px;
    flex: 0 0 auto;
    background-color: @color-menu-light-bg;
    position: relative;

    &-inner {
      height: calc(100% - 1px);
    }

    &-headerSeperator {
      height: 1px;
      width: 100%;
      border-bottom: 1px solid @color-border-2;
      box-sizing: border-box;
      position: relative;
      bottom: 0;
    }
  }

  // 步骤条
  &-steps {
    margin: 24px 0;

    // arcosteps样式覆盖
    .@{prefix}-steps {
      .@{prefix}-steps-item.@{prefix}-steps-item-wait {
        .@{prefix}-steps-item-title {
          color: @color-text-3;
          font-weight: @font-weight-500;
        }
      }
    }
  }

  // 内容区
  &-content-container {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 38px;
    column-gap: 12px;
    padding: 2px 0;

    &-content {
      box-sizing: border-box;
      // 非全页面的场景
      position: relative;
      flex: auto;
      // 解决：子元素宽度大于当前宽度，子元素超出部分会展示
      min-width: 0;
    }

    &-resident-content {
      max-width: 274px;
      flex: auto;

      &-fix {
        position: sticky;
        top: 64px; // 需根据stick的不同来动态计算
      }
    }
  }

  &-content-anchor {
    &-fix {
      position: sticky;
      overflow: auto;
      top: 0;
    }

    .@{prefix}-anchor {
      width: auto;
      min-width: 158px;
      max-width: 274px;
    }
  }

  // 内容区特殊处理
  &-content-container-no-header {
    margin-top: 0;
  }

  // 内容区特殊处理
  &-content-container-no-footer {
    margin-bottom: 0;
  }
}
