@import (reference) '../../style/variables.less';

@c-m-drawer-select-prefix: ~'@{cpn-prefix}-drawer-table-select';
// 💥 变量声明尽量带上c-m前缀，避免存量项目接入时变量名冲突

.@{c-m-drawer-select-prefix} {
  &-error-message {
    display: inline-block;
    font-size: 12px;
    color: @danger-5;
  }

  &-tip {
    display: inline-block;
    color: @color-text-2;
    font-size: 13px;
    line-height: 32px;
    height: 32px;
  }
}
