@import (reference) '../../style/variables.less';

@c-m-async-select-prefix: ~'@{cpn-prefix}-async-select';

.@{c-m-async-select-prefix} {
  &-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;

    // flex布局下，select框选中的内容过长可能导致select输入框被撑宽，fix
    .@{prefix}-select {
      min-width: 0;
    }
  }
  // 刷新btn
  &-wrapper &-refresh-btn {
    height: 32px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
  }

  &-drop-down {
    position: relative;

    .@{cpn-prefix}-ellipsis-content {
      width: 100%;
    }
  }

  &-drop-down-loading {
    height: 35px;
  }

  &-drop-down-mui {
    position: relative;

    .@{prefix}-select-popup-inner {
      .@{prefix}-select-option-wrapper {
        label {
          padding: 16px 8px 7px 12px;
          height: 52px;
        }
      }
    }

    .@{cpn-prefix}-ellipsis-content {
      width: 100%;
    }
  }

  &-suffix-icon {
    display: flex;
  }

  &-single-label {
    font-size: 13px;
  }

  &-single-des {
    margin-left: 12px;
    font-size: 12px;
    color: @color-text-3;
  }

  &-double-label {
    font-size: 13px;

    &::after {
      content: '\A';
      white-space: pre;
      display: block;
      margin-bottom: -40px;
    }
  }

  &-double-des {
    font-size: 12px;
    color: @color-text-3;
  }

  &-ellipsis {
    height: 52px;
  }

  &-tooltip-label {
    font-size: 12px;
    color: @color-text-2;
    line-height: 22px;
  }

  &-tooltip-des {
    font-size: 12px;
    color: @color-text-3;
    line-height: 22px;
  }

  &-tag-label {
    font-size: 13px;
    color: @color-text-2;
    line-height: 22px;
    max-height: 188px;
    overflow-y: auto;
  }

  &-tag-label-div {
    height: 28px;
    line-height: 28px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: @color-bg-4;
      border-radius: 4px;

      .@{cpn-prefix}-copy {
        display: inline-flex;
      }
    }
  }

  &-tag-label-copy {
    display: none;
  }

  &-tag-label-copy-div {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px -12px -8px -12px;
    border-top: 1px solid @color-border-3;
  }

  &-tag-label-count {
    font-size: 12px;
    font-weight: 500;
    border-radius: 22px;
    background-color: @color-bg-4;
    height: 16px;
    padding: 0 6px;
  }

  &-tag-label-copy-content {
    margin-top: 2px;
    font-size: 13px;
    font-weight: 400;
  }

  &-option-ellipsis {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: @color-bg-4;
      border-radius: 4px;

      .@{cpn-prefix}-copy {
        display: inline-flex;
        position: absolute;
        right: 0;
      }
    }
  }

  &-option-ellipsis-double {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background-color: @color-bg-4;
      border-radius: 4px;

      .@{cpn-prefix}-copy {
        display: inline-flex;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  // icon垂直居中
  .@{prefix}-select-suffix-icon {
    display: flex;
    align-items: center;
  }

  // 刷新区域样式
  &-refresh-container {
    margin-left: 12px; //设计师沟通后的间距规范
  }

  &-refresh-icon,
  &-loading-icon {
    width: 16px;
    height: 16px;
    color: @color-fill-3;
  }

  &-loading-icon {
    transition: all @transition-duration-1 @transition-timing-function-linear;
  }
}
