@import (reference) '../../../style/variables.less';

@prefixCTable: ~'@{cpn-prefix}-table';
@prefixCTableEn: ~'@{cpn-prefix}-table-en-US';

.@{prefixCTable} {
  .@{prefix}-table-th,
  .@{prefix}-table-td,
  .@{prefix}-link,
  .@{cpn-prefix}-inline-edit {
    // 中文样式
    font-size: 12px;
  }

  &-column-title-tooltip {
    cursor: pointer;
    margin-left: 4px;
  }

  &-spin {
    .@{prefix}-spin-loading-layer {
      .@{prefix}-spin-loading-layer-inner {
        top: 48px;
        transform: translate(-50%, 0);
      }
    }
  }

  // 新增的auto-scroll模式
  // 会自动将表格的高度设定为当前可用的高度，避免外层的容器产生滚动条
  &.@{prefixCTable}-auto-scroll {
    height: 100%;
    display: flex;
    flex-direction: column;

    .@{prefix}-spin {
      flex: 1;
      overflow: hidden;

      .@{prefix}-spin-children {
        height: 100%;

        .@{prefixCTable}-container {
          height: 100%;
          display: flex;
          flex-direction: column;

          & > .@{prefix}-table {
            height: 100%;
            overflow: hidden;

            .@{prefix}-spin {
              height: 100%;

              .@{prefix}-spin-children {
                height: 100%;

                .@{prefix}-table-container {
                  height: 100%;

                  .@{prefix}-table-content-scroll {
                    height: 100%;

                    .@{prefix}-table-content-inner {
                      height: 100%;
                      display: flex;
                      flex-direction: column;

                      .@{prefix}-table-body {
                        flex: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .@{prefixCTable}-container {
    .@{prefix}-table-filters,
    .@{prefix}-table-sorter {
      margin-left: 4px;
    }
  }

  .@{prefixCTable}-load-more-container {
    // 当前 table 纯文案展示时，每行的高度 47.5px 左右，按照 10 行来算
    // 保证初始化时，底部的 loading icon 不出现，并且出现滚动条，用户可以触发滚动加载
    max-height: 460px;
    overflow-y: auto;
  }

  .@{prefixCTable}-active-row {
    .@{prefix}-table-td.@{prefix}-table-col-fixed-left::before,
    .@{prefix}-table-td.@{prefix}-table-col-fixed-right::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @color-bg-3;
      z-index: -1;
    }

    .@{prefix}-table-td:not(.@{prefix}-table-col-fixed-left):not(.@{prefix}-table-col-fixed-right) {
      background-color: @color-bg-3;
    }
  }

  .@{prefixCTable}-pagination-with-toolbar {
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 12px 0;
    background-color: @color-bg-white;
    z-index: 2;

    .@{prefix}-pagination {
      margin-top: 0;
    }

    // 在加入左下脚的 toolbar item 后，右边分页的容器会变成和容器一样高
    // 而 total-text 的高度是 100%，因此这里需要处理下
    .@{prefix}-pagination-total-text {
      height: auto;
    }

    &-highlight {
      animation: toolbar-highlight 1000ms ease-out;
    }

    @keyframes toolbar-highlight {
      0% {
        background-color: @blue-1;
      }

      100% {
        background-color: @color-bg-white;
      }
    }
  }
}

.@{prefixCTableEn} {
  .@{prefix}-table-th,
  .@{prefix}-table-td,
  .@{prefix}-link,
  .@{cpn-prefix}-inline-edit {
    // 英文样式
    font-size: 14px;
  }
}
.@{prefix}-table-filters-popup {
  .@{prefix}-radio.@{prefix}-table-filters-text,
  .@{prefix}-radio:not(.@{prefix}-table-filters-text) {
    padding-left: 8px;
  }
}
