/** 在这里定义统一物料库自己的全局原子样式 */
@import (reference) './variables.less';

.@{cpn-prefix}-icon, .@{cpn-prefix}-icon.@{prefix}-icon {
  color: @color-fill-3;
  padding: 4px;
  border-radius: 4px;
  box-sizing: content-box !important; //没有办法存储有个 id 选择器设置了全局 border-box 有别的办法我改
  font-size: 16px;
  cursor: pointer;

  &:not(.disabled):hover {
    background-color: @color-bg-6;
  }

  &.active {
    color: @primary-6;
    background-color: rgba(2, 8, 20, 0.1);
  }

  &:not(.disabled):active {
    color: @primary-6;
    background-color: rgba(2, 8, 20, 0.1); //主题包没有这个变量
  }

  &.disabled {
    color: @color-fill-1;
    cursor: not-allowed;
  }

  &.small {
    font-size: 14px;
  }

  &.mini {
    font-size: 12px;
  }

  &.large {
    font-size: 20px;
    padding: 6px;
  }

  &.huge {
    font-size: 24px;
    padding: 6px;
  }
}
