@import (reference) '../../style/variables.less';

@c-m-inline-edit-prefix: ~'@{cpn-prefix}-inline-edit';

.@{c-m-inline-edit-prefix} {
  display: flex;
  align-items: center;
  font-size: @font-size-body-2;

  &-edit {
    cursor: pointer;
  }

  &-input {
    width: 200px;
    height: 32px;
  }

  &-select {
    width: 240px;
  }

  &-inputnumber {
    width: 150px;
    height: 32px;
  }

  &-textarea {
    width: 300px;
  }

  &-error-message {
    font-size: 12px;
    color: rgb(var(~'@{arco-cssvars-prefix}-danger-6'));
    min-height: 20px;
    line-height: 20px;
  }

  .@{c-m-inline-edit-prefix}-opt {
    margin-left: 12px;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &__icon {
      cursor: pointer;
      width: 16px;
      height: 16px;
    }

    &__check.@{cpn-prefix}-icon {
      color: @green-6;
    }

    &__close.@{cpn-prefix}-icon {
      color: @red-6;
      margin-left: 12px;
    }

    &__text {
      cursor: pointer;
      color: @arcoblue-6;
    }

    &__cancel {
      margin-left: 12px;
    }

    &__submitting {
      cursor: not-allowed;
      color: @color-text-4;
    }

    &__invalid {
      cursor: not-allowed;
    }
  }
}
