.c-m-collapse-text {
  word-break: break-all;
  line-break: anywhere;
  font-size: 12px;
  position: relative;
}
.c-m-collapse-text .c-m-collapse-operation {
  margin: 2px 0;
}
.c-m-collapse-text-container,
.c-m-collapse-group-container {
  position: relative;
}
.c-m-collapse-text-container.over::after,
.c-m-collapse-group-container.over::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  pointer-events: none;
  background: linear-gradient(transparent, 90%, rgba(204, 206, 208, 0.5));
}
.c-m-collapse-text-ellipsis {
  line-break: auto;
}
.c-m-collapse-group-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.c-m-collapse-group-item {
  margin: 0 4px 4px 0;
}
.c-m-collapse-group-popover-content {
  display: flex;
  flex-direction: column;
  padding: 8px 14px;
  position: relative;
}
.c-m-collapse-group-popover-content .arco-group-item:last-child {
  margin-bottom: 0;
}
.c-m-collapse-group-popover .arco-popover-content {
  padding: 0;
}
.c-m-collapse-operation {
  display: inline-flex;
  align-items: center;
  margin-bottom: 4px;
  color: #1664ff;
  cursor: pointer;
  font-size: 12px;
}
.c-m-collapse-suffix {
  margin-left: 4px;
}
