@import (reference) '../../../../style/variables.less';

@c-m-form-anchor-prefix: ~'@{cpn-prefix}-c-form-anchor';

.@{c-m-form-anchor-prefix} {

  .@{prefix}-anchor-link-title {
    height: 32px;
    line-height: 22px;
  }

  .@{prefix}-anchor-line-slider {
    height: 32px;
  }
}
