@import (reference) '../../style/variables.less';

@prefixCTableEditor: ~'@{cpn-prefix}-table-editor';

.@{prefixCTableEditor} {
  &.@{prefixCTableEditor}-auto-scroll {
    height: 100%;
  }

  .@{prefix}-formily-item {
    margin-bottom: 0;
  }
}
