@import (reference) '../../style/variables.less';

@c-m-name-info-prefix: ~'@{cpn-prefix}-name-info';

.@{c-m-name-info-prefix} {
  @c-m-popup-edit-prefix: ~'@{cpn-prefix}-popup-edit';
  @c-m-ellipsis-prefix: ~'@{cpn-prefix}-ellipsis';
  @c-m-copy-prefix: ~'@{cpn-prefix}-copy';

  &-name,
  &-id {
    height: 20px;
    line-height: 24px;
    color: @color-text-2;

    &:hover {
      .@{c-m-name-info-prefix}-copy {
        display: inline;
        position: relative;
        visibility: visible;
      }

      .@{c-m-popup-edit-prefix}-popconfirm-edit {
        display: flex;
        visibility: visible;
      }
    }

    .@{c-m-copy-prefix} {
      padding-right: 4px;
    }
  }

  &-name-content {
    > .@{c-m-ellipsis-prefix}-content {
      color: rgb(var(~'@{arco-cssvars-prefix}-link-6'));
    }
  }

  &-name-text {
    color: @color-text-2;
  }

  &-suffix {
    display: flex;
    align-items: center;
  }

  &-copy-squeeze {
    display: none;
  }

  &-copy-weight {
    visibility: hidden;
  }

  &-copy {
    height: 24px;
    align-items: center;
    padding-left: 4px;
  }

  &-copy-visible {
    .@{c-m-name-info-prefix}-copy {
      visibility: visible;
    }
  }

  &-edit-hide-squeeze {
    .@{c-m-ellipsis-prefix} {
      height: 29.5px;
    }
    .@{c-m-popup-edit-prefix} {
      height: 28px;
    }
    .@{c-m-popup-edit-prefix}-popconfirm-edit-icon-hide {
      display: none;
    }
  }

  &-edit-hide {
    .@{c-m-popup-edit-prefix}-popconfirm-edit-icon-hide {
      visibility: hidden;
    }
  }

  &-edit-visible {
    .@{c-m-popup-edit-prefix}
    .@{c-m-popup-edit-prefix}-value
    .@{c-m-popup-edit-prefix}-popconfirm-edit.@{c-m-popup-edit-prefix}-popconfirm-edit-icon-hide {
      visibility: visible;
      opacity: 1; // 在全局样式中这里被设置成了0，不符合当前场景，所以在这里设置成1
    }
  }
}
