.c-m-async-select-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.c-m-async-select-wrapper .arco-select {
  min-width: 0;
}
.c-m-async-select-wrapper .c-m-async-select-refresh-btn {
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}
.c-m-async-select-drop-down {
  position: relative;
}
.c-m-async-select-drop-down .c-m-ellipsis-content {
  width: 100%;
}
.c-m-async-select-drop-down-loading {
  height: 35px;
}
.c-m-async-select-drop-down-mui {
  position: relative;
}
.c-m-async-select-drop-down-mui .arco-select-popup-inner .arco-select-option-wrapper label {
  padding: 16px 8px 7px 12px;
  height: 52px;
}
.c-m-async-select-drop-down-mui .c-m-ellipsis-content {
  width: 100%;
}
.c-m-async-select-suffix-icon {
  display: flex;
}
.c-m-async-select-single-label {
  font-size: 13px;
}
.c-m-async-select-single-des {
  margin-left: 12px;
  font-size: 12px;
  color: #737a87;
}
.c-m-async-select-double-label {
  font-size: 13px;
}
.c-m-async-select-double-label::after {
  content: '\A';
  white-space: pre;
  display: block;
  margin-bottom: -40px;
}
.c-m-async-select-double-des {
  font-size: 12px;
  color: #737a87;
}
.c-m-async-select-ellipsis {
  height: 52px;
}
.c-m-async-select-tooltip-label {
  font-size: 12px;
  color: #42464e;
  line-height: 22px;
}
.c-m-async-select-tooltip-des {
  font-size: 12px;
  color: #737a87;
  line-height: 22px;
}
.c-m-async-select-tag-label {
  font-size: 13px;
  color: #42464e;
  line-height: 22px;
  max-height: 188px;
  overflow-y: auto;
}
.c-m-async-select-tag-label-div {
  height: 28px;
  line-height: 28px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: space-between;
}
.c-m-async-select-tag-label-div:hover {
  background-color: #f6f8fa;
  border-radius: 4px;
}
.c-m-async-select-tag-label-div:hover .c-m-copy {
  display: inline-flex;
}
.c-m-async-select-tag-label-copy {
  display: none;
}
.c-m-async-select-tag-label-copy-div {
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px -12px -8px -12px;
  border-top: 1px solid #dde2e9;
}
.c-m-async-select-tag-label-count {
  font-size: 12px;
  font-weight: 500;
  border-radius: 22px;
  background-color: #f6f8fa;
  height: 16px;
  padding: 0 6px;
}
.c-m-async-select-tag-label-copy-content {
  margin-top: 2px;
  font-size: 13px;
  font-weight: 400;
}
.c-m-async-select-option-ellipsis {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-m-async-select-option-ellipsis:hover {
  background-color: #f6f8fa;
  border-radius: 4px;
}
.c-m-async-select-option-ellipsis:hover .c-m-copy {
  display: inline-flex;
  position: absolute;
  right: 0;
}
.c-m-async-select-option-ellipsis-double {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-m-async-select-option-ellipsis-double:hover {
  background-color: #f6f8fa;
  border-radius: 4px;
}
.c-m-async-select-option-ellipsis-double:hover .c-m-copy {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 0;
}
.c-m-async-select .arco-select-suffix-icon {
  display: flex;
  align-items: center;
}
.c-m-async-select-refresh-container {
  margin-left: 12px;
}
.c-m-async-select-refresh-icon,
.c-m-async-select-loading-icon {
  width: 16px;
  height: 16px;
  color: #42464e;
}
.c-m-async-select-loading-icon {
  transition: all 0.1s cubic-bezier(0, 0, 1, 1);
}
