.c-m-table-row:hover .arco-table-td .c-m-name-info-copy {
  display: inline;
  position: relative;
  visibility: visible;
}
.c-m-table-row:hover .arco-table-td .c-m-popup-edit-popconfirm-edit {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.c-m-table-row:hover .arco-table-td .c-m-copy {
  visibility: visible;
}
.c-m-table-row .c-m-popup-edit .c-m-icon,
.c-m-table-row .c-m-name-info .c-m-icon,
.c-m-table-row .c-m-inline-edit .c-m-icon,
.c-m-table-row .c-m-ellipsis .c-m-icon {
  font-size: 14px;
}
