.c-m-conditions-container,
.c-m-conditions-group-container {
  display: flex;
}
.c-m-conditions-container .arco-btn,
.c-m-conditions-group-container .arco-btn {
  padding: 0;
}
.c-m-conditions-container .c-m-conditions-content,
.c-m-conditions-group-container .c-m-conditions-content,
.c-m-conditions-container .c-m-conditions-group-content,
.c-m-conditions-group-container .c-m-conditions-group-content {
  flex: none;
  position: relative;
}
.c-m-conditions-container .c-m-conditions-content .c-m-conditions-view,
.c-m-conditions-group-container .c-m-conditions-content .c-m-conditions-view,
.c-m-conditions-container .c-m-conditions-group-content .c-m-conditions-view,
.c-m-conditions-group-container .c-m-conditions-group-content .c-m-conditions-view {
  position: relative;
}
.c-m-conditions-container .c-m-conditions-content .c-m-conditions-view > div:only-child,
.c-m-conditions-group-container .c-m-conditions-content .c-m-conditions-view > div:only-child,
.c-m-conditions-container .c-m-conditions-group-content .c-m-conditions-view > div:only-child,
.c-m-conditions-group-container .c-m-conditions-group-content .c-m-conditions-view > div:only-child {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.c-m-conditions-container .c-m-conditions-content .c-m-conditions-condition-delete,
.c-m-conditions-group-container .c-m-conditions-content .c-m-conditions-condition-delete,
.c-m-conditions-container .c-m-conditions-group-content .c-m-conditions-condition-delete,
.c-m-conditions-group-container .c-m-conditions-group-content .c-m-conditions-condition-delete {
  display: inline-block;
  height: 32px;
}
.c-m-conditions-container .c-m-conditions-content .c-m-conditions-condition-delete-icon,
.c-m-conditions-group-container .c-m-conditions-content .c-m-conditions-condition-delete-icon,
.c-m-conditions-container .c-m-conditions-group-content .c-m-conditions-condition-delete-icon,
.c-m-conditions-group-container .c-m-conditions-group-content .c-m-conditions-condition-delete-icon {
  vertical-align: bottom;
}
.c-m-conditions-container .c-m-conditions-condition-clear,
.c-m-conditions-group-container .c-m-conditions-condition-clear {
  position: absolute;
  right: 1em;
  font-weight: 400;
}
.c-m-conditions-container .c-m-conditions-group-wrapper > .c-m-conditions-group-delete,
.c-m-conditions-group-container .c-m-conditions-group-wrapper > .c-m-conditions-group-delete {
  position: absolute;
  right: 0.5em;
  margin-top: -2.5em;
}
.c-m-conditions-relation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
}
.c-m-conditions-relation-upper-line,
.c-m-conditions-relation-lower-line {
  flex: auto;
  /* 原值为:1px solid #eaedf1，已被stylelint autofix，替换后为：1px solid @color-border-2， 推荐大家使用@arco-design/theme-ve-o-design/variables.less里的变量，可选替换项为: @color-border-2 */
  border: 1px solid #eaedf1;
  border-right: none;
  width: 12px;
  margin-left: 12px;
}
.c-m-conditions-relation-upper-line {
  border-radius: 4px 0;
  border-bottom: none;
  margin-top: 1em;
}
.c-m-conditions-relation-lower-line {
  border-radius: 0 0 0 4px;
  border-top: none;
  margin-top: 4px;
  margin-bottom: 1em;
}
.c-m-conditions-relation-lower-line.view {
  margin-top: 0;
}
.c-m-conditions-body > .c-m-conditions-relation > .c-m-conditions-relation-upper-line.view {
  margin-top: 2em;
}
.c-m-conditions-body > .c-m-conditions-relation > .c-m-conditions-relation-lower-line.view {
  margin-bottom: 1.5em;
}
.c-m-conditions-relation-select {
  width: 80px;
}
.c-m-conditions-relation-toggle {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.c-m-conditions-relation-card {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid;
  border-radius: 2px;
  background-color: #f3f7ff;
  text-align: center;
  color: #737a87;
  font-size: 12px;
  line-height: 24px;
  user-select: none;
  transition: top 0.2s ease, left 0.2s ease;
  font-weight: 500;
  padding: 0 !important;
}
.c-m-conditions-relation-card .c-m-ellipsis-content {
  padding: 0 !important;
  margin: 0 auto;
}
.c-m-conditions-relation-card.c-m-conditions-relation-small {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
}
.c-m-conditions-relation-card.c-m-conditions-relation-first,
.c-m-conditions-relation-card .c-m-conditions-relation-first-color {
  color: #2a814b;
  background-color: #eef9f1;
}
.c-m-conditions-relation-card.c-m-conditions-relation-second-color {
  color: #1664ff;
  background-color: #f3f7ff;
}
.c-m-conditions-relation-card.c-m-conditions-relation-second {
  z-index: -1;
  color: #1664ff;
  background-color: #f3f7ff;
  position: absolute;
  left: -4px;
  top: 4px;
}
.c-m-conditions-relation-flipped .c-m-conditions-relation-card.c-m-conditions-relation-first {
  position: absolute;
  left: -4px;
  top: 4px;
}
.c-m-conditions-relation-flipped .c-m-conditions-relation-card.c-m-conditions-relation-second {
  z-index: 1;
  position: relative;
  left: 0;
  top: 0;
}
