.c-m-table-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.c-m-table-load-more .no-more-data {
  color: #737a87;
}
.c-m-table-load-more .load-more-error span:first-child {
  color: #737a87;
  margin-right: 6px;
}
.c-m-table-load-more .load-more-error span:last-child {
  color: rgb(var(--primary-6));
  cursor: pointer;
}
.c-m-table-load-more .click-load-more {
  color: rgb(var(--primary-6));
  cursor: pointer;
}
