.c-m-cform-array-base-addition {
  display: flex;
  align-items: center;
  height: 32px;
}
.c-m-cform-array-base-addition .c-m-add-button {
  padding: 0;
}
.c-m-cform-array-base-addition .minor-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.003em;
  color: #737a87;
  margin-left: 4px;
}
.c-m-cform-array-base-addition .arco-link {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.c-m-cform-array-base-addition .arco-link .arco-link-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.c-m-cform-array-base-addition .arco-link:hover .arco-link-icon {
  opacity: 0.8;
}
