@import (reference) '../../../../../style/variables.less';

@c-m-form-array-base-addition-prefix: ~'@{cpn-prefix}-cform-array-base-addition';

.@{c-m-form-array-base-addition-prefix} {
  display: flex;
  align-items: center;
  height: 32px;
  .@{cpn-prefix}-add-button {
    // 解决 AddButton 自带padding导致高度溢出的问题
    padding: 0;
  }

  .minor-info {
    font-weight: @font-weight-400;
    font-size: @font-size-body-1;
    line-height: 20px;
    letter-spacing: 0.003em;
    color: @color-text-3;
    margin-left: 4px;
  }

  .@{prefix}-link {
    display: flex;
    align-items: center;
    padding-left: 0;

    .@{prefix}-link-icon {
      // 图标大小
      font-size: 20px;
      display: flex;
      align-items: center;
    }
  }

  .@{prefix}-link:hover {
    .@{prefix}-link-icon {
      opacity: 0.8;
    }
  }
}
