@import (reference) '../../style/variables.less';

@c-m-status-prefix: ~'@{cpn-prefix}-status';

.@{c-m-status-prefix} {
  // usable loading
  --usable-nbd-color: @primary-6;
  --usable-ht-color: @primary-7;
  --usable-highlight-bg: @link-2;
  --usable-border: rgba(22, 100, 255, 0.2);
  --usable-tag-bg: @link-1;
  --usable-icon-stroke: @primary-6;
  --usable-icon-fill: @primary-5;
  // loading
  --loading-nbd-color: @primary-6;
  --loading-ht-color: @primary-7;
  --loading-highlight-bg: @link-2;
  --loading-border: rgba(22, 100, 255, 0.2);
  --loading-tag-bg: @link-1;
  --loading-icon-stroke: @primary-6;
  --loading-icon-fill: @primary-5;
  // error
  --error-nbd-color: @danger-6;
  --error-ht-color: @danger-7;
  --error-highlight-bg: @danger-2;
  --error-border: rgba(219, 55, 63, 0.2);
  --error-tag-bg: @danger-1;
  --error-icon-stroke: @danger-6;
  --error-icon-fill: @danger-5;
  // warning
  --warning-nbd-color: @warning-6;
  --warning-ht-color: @warning-7;
  --warning-highlight-bg: @warning-2;
  --warning-border: rgba(242, 162, 0, 0.2);
  --warning-tag-bg: @warning-1;
  --warning-icon-stroke: @warning-6;
  --warning-icon-fill: @warning-5;
  // running
  --running-nbd-color: @success-6;
  --running-ht-color: @success-7;
  --running-highlight-bg: @success-2;
  --running-border: rgba(24, 153, 89, 0.2);
  --running-tag-bg: @success-1;
  --running-icon-stroke: @success-6;
  --running-icon-fill: @success-5;
  // wait
  --wait-dot-color: @color-text-3;
  --wait-nbd-color: @color-grey-6;
  --wait-ht-color: @color-text-2;
  --wait-highlight-bg: @color-bg-5;
  --wait-border: @color-border-3;
  --wait-tag-bg: @color-bg-4;
  --wait-icon-stroke: @color-grey-5;
  --wait-icon-fill: @color-fill-2;
  // disable wait
  --disable-dot-color: @color-text-3;
  --disable-nbd-color: @color-grey-6;
  --disable-ht-color: @color-text-2;
  --disable-highlight-bg: @color-bg-5;
  --disable-border: @color-border-3;
  --disable-tag-bg: @color-bg-4;
  --disable-icon-stroke: @color-grey-5;
  --disable-icon-fill: @color-fill-2;
  // heavy
  --heavy-color: @color-text-2;
  --heavy-bg: @color-bg-4;

  font-size: 12px;
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 4px;
  box-sizing: border-box;
  height: 20px;
  line-height: 20px;
  max-width: 100%;

  &-normal {
    padding: 0;
  }

  &-dash {
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 16px;
    border-bottom: 1px dotted;
  }

  &-dot {
    width: 4px;
    height: 4px;
    margin-right: 6px;
    border-radius: 1px;
  }

  &-text {
    border-bottom: 1px dotted;
  }

  &-textWrapper {
    position: relative;
  }

  &-icon {
    font-size: 14px;
    margin-right: 2px;
    line-height: 20px;
  }

  &-icon-large {
    font-size: 16px;
  }

  &-icon-usable {
    > svg > g > path {
      fill: var(--usable-icon-fill);
      stroke: var(--usable-icon-stroke);
    }
  }

  &-icon-wait {
    > svg > g > path {
      fill: var(--disable-icon-fill);
      stroke: var(--disable-icon-stroke);
    }
  }
}

.@{c-m-status-prefix}-large {
  height: 24px;
  font-size: 13px;
  font-weight: 500;
}
