.c-m-result .arco-result-icon {
  line-height: 0;
  margin-bottom: 12px;
}
.c-m-result .arco-result-title {
  color: #737a87;
  font-size: 13px;
}
.c-m-result .arco-result-extra {
  margin-top: 24px;
}
