.c-m-operation-menu .c-m-operation-menu-opt-text-btn {
  padding: 0;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.c-m-operation-menu .c-m-operation-menu-opt-text-btn-en-US {
  font-size: 14px;
}
.c-m-operation-menu-dropdown-button.arco-btn-text.arco-btn-icon-only {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #42464e;
}
.c-m-operation-menu-dropdown-button.arco-btn-text.arco-btn-icon-only:not(.arco-btn-disabled):not(.arco-btn-loading):hover,
.c-m-operation-menu-dropdown-button.arco-btn-text.arco-btn-icon-only:not(.arco-btn-disabled):not(.arco-btn-loading):active {
  background-color: rgba(26, 27, 30, 0.05);
}
.c-m-operation-menu-dropdown-button.arco-btn-text.arco-btn-icon-only.arco-dropdown-open {
  background-color: rgba(26, 27, 30, 0.05);
}
.c-m-operation-menu-dropdown-button .arco-btn-text.arco-btn-disabled {
  width: 24px;
  height: 24px;
  color: #c7ccd6;
}
.c-m-operation-menu-dropdown-menu {
  border: 1px solid #eaedf1;
  box-shadow: 0px 15px 35px -2px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}
.c-m-operation-menu-dropdown-menu.arco-dropdown-menu {
  max-height: max-content;
  padding: 6px 0;
}
.c-m-operation-menu-dropdown-menu .arco-dropdown-menu-item {
  padding: 0;
}
.c-m-operation-menu-dropdown-menu .arco-dropdown-menu-inner {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.c-m-operation-menu-dropdown-menu .arco-dropdown-menu-inner .c-m-loading-error {
  margin: 0 6px;
}
.c-m-operation-menu-dropdown-menu .arco-divider-horizontal {
  margin: 4px -6px;
  width: calc(100% + 12px);
  max-width: calc(100% + 12px);
}
.c-m-operation-menu-dropdown-menu-container {
  padding: 0 6px;
  position: relative;
}
.c-m-operation-menu-dropdown-menu-container::-webkit-scrollbar {
  width: 4px;
}
.c-m-operation-menu-dropdown-menu-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.c-m-operation-menu-dropdown-menu-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.c-m-operation-menu-dropdown-popup-menu .arco-dropdown-menu-item {
  padding: 0;
}
.c-m-operation-menu-dropdown-sub-menu {
  box-shadow: 0px 15px 35px -2px rgba(0, 0, 0, 0.05), 0px 5px 15px rgba(0, 0, 0, 0.03);
}
.c-m-operation-menu-sub-menu-active.arco-menu-pop-header {
  background-color: var(--color-bg-4);
}
.c-m-operation-menu-sub-menu-active.arco-dropdown-menu-pop-header {
  background-color: var(--color-bg-4);
}
