@import (reference) '../../../../../style/variables.less';

@c-m-form-table-select: ~'@{cpn-prefix}-cform-table-select';

.@{c-m-form-table-select} {
  & .@{prefix}-table-empty-row {
    .@{prefix}-table-td {
      padding: 8px 16px;
      .@{prefix}-table-no-data {
        padding: 0;
      }
    }
  }

  .c-m-table-toolbar-item-group {
    display: flex;
    flex-wrap: wrap;

    .c-m-table-toolbar-item {
      margin-bottom: 12px;

      .c-m-radio-group .c-m-radio-@{prefix}-radio-badge-container:last-child .@{prefix}-radio-button {
        margin-right: 0;
      }

      .c-m-radio.@{prefix}-radio-group-type-button .@{prefix}-radio-button {
        line-height: 30px;
        display: flex;
        align-content: center;
      }
    }
  }

  .c-m-table-toolbar-row {
    margin-bottom: 0;
  }

  .disabled-row {
    cursor: not-allowed;

    .@{prefix}-table-cell-wrap-value {
      color: @gray-4;
    }
  }
  // 内置样式被arco-formily样式覆盖，宽度过高与lineHeight不一致导致分页配置对不齐
  .@{prefix}-pagination-total-text {
    display: flex;
    align-items: center;
  }
}
