.c-m-transfer {
  display: flex;
  align-items: center;
}
.c-m-transfer-view {
  width: 276px;
  height: 340px;
  border: 1px solid var(--color-neutral-3);
  border-radius: var(--border-radius-large);
  overflow: hidden;
}
.c-m-transfer-header {
  display: flex;
  justify-content: space-between;
  line-height: 42px;
  padding: 0 16px;
  color: #42464e;
  font-size: 13px;
}
.c-m-transfer-header-title {
  font-weight: 500;
}
.c-m-transfer-icon {
  cursor: pointer;
}
.c-m-transfer-delete-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.c-m-transfer-delete-icon:hover {
  background-color: rgba(160, 162, 167, 0.1);
}
.c-m-transfer-delete-all {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.c-m-transfer-delete-all:hover {
  background-color: rgba(160, 162, 167, 0.1);
}
.c-m-transfer-operations {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.c-m-transfer-operation-btn:last-child {
  margin-top: 12px;
}
.c-m-transfer .c-m-table .arco-table-body {
  background-color: var(--color-bg-1);
}
.c-m-transfer .c-m-table .arco-table-container {
  padding: 0 4px 0;
}
.c-m-transfer .c-m-table .c-m-table-toolbar {
  position: sticky;
  background: #FFFFFF;
  top: 0;
  z-index: 1;
}
.c-m-transfer .c-m-table .c-m-table-toolbar .c-m-table-toolbar-row {
  flex-direction: column;
  margin-bottom: 0;
}
.c-m-transfer .c-m-table .c-m-table-toolbar .c-m-table-toolbar-item-group {
  display: block;
  width: 100%;
}
.c-m-transfer .c-m-table .arco-table-td {
  border-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  line-height: 22px;
}
.c-m-transfer .c-m-table .arco-table-td:last-child {
  padding-right: 15px;
}
.c-m-transfer .c-m-table .c-m-table-toolbar-bottom-toolbar-selected-info .arco-checkbox {
  margin-left: -2px;
}
.c-m-transfer .c-m-table .c-m-table-toolbar-bottom-toolbar-selected-info > span {
  display: none;
}
.c-m-transfer .c-m-table .arco-table-th {
  /* 原值为:#fff，已被stylelint autofix，替换后为：@color-menu-light-bg， 推荐大家使用@arco-design/theme-volcengine-ui-v3/variables.less里的变量，可选替换项为: @color-menu-light-bg | @color-bg-white | @color-white | @color-bg-1 | @radio-button-color-bg_active | @color-fill-5 | @dark-color-fill-5 */
  background-color: #ffffff;
  font-weight: normal;
  font-size: 13px;
  color: #42464e;
}
.c-m-transfer .c-m-table .arco-table-tr {
  font-size: 13px;
  border-radius: 4px;
}
.c-m-transfer .c-m-table .arco-table:not(.arco-table-border-cell) .arco-table-operation.arco-table-checkbox {
  padding-left: 0;
}
.c-m-transfer-operation-btn:not(.arco-btn-disabled) {
  color: #737a87;
  background-color: #FFFFFF;
}
.c-m-transfer .arco-btn.arco-btn-secondary.arco-btn-disabled {
  background-color: #FFFFFF;
  color: #c7ccd6;
}
.c-m-transfer .c-m-table-toolbar-row-right {
  padding: 0 16px;
}
.c-m-transfer-pagination-mode .c-m-table,
.c-m-transfer-pagination-mode .arco-spin,
.c-m-transfer-pagination-mode .arco-spin-children,
.c-m-transfer-pagination-mode .c-m-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-m-transfer-pagination-mode .c-m-table .c-m-table-toolbar-bottom-toolbar-selected-info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #eaedf1;
  top: -8px;
  left: 0;
}
.c-m-transfer-pagination-mode .c-m-table .c-m-table-pagination-with-toolbar {
  padding: 10px 16px 10px 4px;
}
.c-m-transfer-pagination-mode .c-m-table .c-m-table-pagination-with-toolbar-highlight {
  animation: none;
}
.c-m-transfer-right-pagination-mode .arco-pagination::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #eaedf1;
  top: -8px;
  left: 0;
}
.c-m-transfer-left-simple {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.c-m-transfer-right-simple {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.c-m-transfer-remote-hide .c-m-table-toolbar-bottom-toolbar-left {
  visibility: hidden;
}
.c-m-transfer-remote-hide .arco-pagination::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #eaedf1;
  top: -8px;
  left: 0;
}
.c-m-transfer-table-mode .c-m-table .arco-table-container {
  padding: 0 16px 0;
}
.c-m-transfer-table-mode .c-m-table .arco-table-tr:not(:last-child) .arco-table-td {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #eaedf1;
}
.c-m-transfer-table-mode .c-m-table .c-m-table-pagination-with-toolbar {
  padding-left: 16px;
}
